<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="{{title_img}}" type="image/{{title_img_type}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=1) }}">
    <script src="{{ url_for('static', filename='script.js', v=1) }}"></script>
    <script>
        var botName = "{{ bot_name }}";

    </script>
</head>

<body>


    <div class="chat-container">
        <button id="sidebar-toggle">☰</button>
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="history-buttons">
                    <button id="new-chat" class="history-btn">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                        </svg>
                        <span>New Chat</span>
                    </button>

                    <button id="delete-all-history" class="history-btn ">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
                                fill="currentColor"></path>
                        </svg>
                        <span>Delete All History</span>
                    </button>
                </div>
            </div>
            <div id="chat-list">
                <!-- Chat history items will be dynamically added here -->
            </div>
        </div>
        <div class="main-chat">
            <nav class="navbar navbar-expand-lg">
                <img src="{{nav_img}}" alt="">
                <a class="navbar-brand" href="#">{{ title }}</a>
                <div>
                    <button id="change-username" class="btn btn-outline-primary">Change Username</button>
                </div>
            </nav>

            <div id="loading-bar"></div>


            <div id="responses" class="flex-grow-1 overflow-auto">
                <!-- Chat messages will be displayed here -->
            </div>

            <div id="custom-questions" class="custom-questions-container">
                <div class="custom-question-box" data-question="{{q1}}">
                    {{q1}}
                </div>
                <div class="custom-question-box" data-question="{{q2}}">
                    {{q2}}
                </div>
                <div class="custom-question-box" data-question="{{q3}}">
                    {{q3}}
                </div>
                <div class="custom-question-box" data-question="{{q4}}">
                    {{q4}}
                </div>
            </div>

            <div class="input-container">
                <form id="query-form">
                    <div class="input-group">
                        <textarea id="query" name="query" rows="1" required
                            placeholder="Message {{bot_name}}"></textarea>
                        <button type="submit" class="btn-send" id="submitBtn">
                            <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11 8.414V18h2V8.414l4.293 4.293 1.414-1.414L12 4.586l-6.707 6.707 1.414 1.414z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="popup" class="card">
        <h3 id="delete-heading">Delete</h3>
        <hr>
        <div class="cookieHeading">Are you certain you wish to permanently delete the chat history?</div>
        <hr>
        <div class="buttonContainer">
            <button class="acceptButton">Confirm</button>
            <button class="declineButton">Decline</button>
        </div>
    </div>

    <div id="offensive-popup" class="card">
        <div class="popup-content">
            <h4 class="Warning">Alert</h4>
            <p class="cookieHeading">.An error occured while fetching the output.
            </p>
            <button id="offensive-popup-close" class="acceptButton">Ok</button>
        </div>
    </div>

    <div id="rename-popup" class="card">
        <div class="popup-content">
            <h3 style="color: whitesmoke; font-size: 1.5rem; font-weight: 800;">Rename Chat</h3>
            <hr>
            <input type="text" id="new-chat-name">
            <div class="rename-buttoncontainer">
                <button id="confirm-rename" class="acceptButton">Rename</button>
                <button id="cancel-rename" class="declineButton">Cancel</button>
            </div>
        </div>
    </div>

    <div id="username-popup" class="card">
        <div class="popup-content">
            <h3 style="color: whitesmoke; font-size: 1.5rem; font-weight: 800;">Enter Your Username</h3>
            <form id="username-form">
                <hr>
                <input type="text" id="username-input" required>
                <button type="submit" class="acceptButton">Set Username</button>
            </form>
        </div>
    </div>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>